
.type-filter-container .type-of-place .type .type-header {
    font-size: 16px;
    line-height: 20px;
    color: #222;
    /* font-weight: bold; */
}

.type-filter-container .type-of-place .type .type-title {
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}

.type-filter-container .type-of-place .container{
  cursor: pointer;
  text-align:start;
  user-select: none;
}

.type-filter-container .type-of-place .checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    /* border-color: #b0b0b0; */
    border-radius: 4px;
}

.type-filter-container .type-of-place .container input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}



.type-filter-container {
    position: absolute;
    top: 280px;
    left: 172px;
    width: 340px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    border: 0.5px solid hsla(0,0%,46.3%,.28);
    border-radius: 12px;
    box-shadow: 0 10px 37px rgb(0 0 0 / 15%);
    padding: 20px;
}

.type-filter-container .type-save {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    // border-top: 0.5px solid #ebebeb;
    margin-bottom: -17px;
}
.type-filter-container .type-save .clear {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #222;
    text-decoration: underline;
}

.type-filter-container .type-save .save {
    cursor: pointer;
    margin: 0;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif!important;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    padding: 8px 16px;
    border: none;
    background: #222;
    color: #fff;
}

.type-filter-container .type-of-place .container input:checked~.checkmark {
    background-color: #222;
}

.type-filter-container .type-of-place .container {
    padding-top: 12px!important;
    display: block;
    position: relative;
    padding-left: 34px;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}