.stay-info {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 70px;
   align-items: center;
   text-align: center;
   padding: 10px 30px;
   border-bottom: 1px solid #e7e6e6;

   button {
      border: 1px solid #fff;
      background-color: #dad8d8;
      padding: 4px 10px;
      font-family: Cereal-Regular;
      font-size: 1rem;
      border-radius: 20px;
      &:hover {
         background-color:#e4e2e2; 
      }
   }
}
