/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
  }


/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}