@font-face {
    font-family: 'Circular-Book';
    src: url('@/assets/fonts/Circular/circular-book.otf');
}

@font-face {
    font-family: 'Cereal-Regular';
    src: url('@/assets/fonts/Cereal/Airbnb_Cereal-Regular.ttf');
}

@font-face {
    font-family: 'Cereal-Medium';
    src: url('@/assets/fonts/Cereal/Airbnb_Cereal-Medium.ttf');
}

@font-face {
    font-family: 'Cereal-Bold';
    src: url('@/assets/fonts/Cereal/Airbnb_Cereal-Bold.ttf');
}